node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# OS
.DS_Store
Thumbs.db
*.pem

# Local env files
.env*.local

# TypeScript
*.tsbuildinfo

# Android / iOS
android/
ios/
.gradle/
build/
sample_tracker_data.xlsx
/logo.jpg
activities.csv
activities_backup.csv
imported_previous_expenses.xlsx
activities.xlsx