node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# OS
.DS_Store
Thumbs.db
*.pem

# Local env files
.env*.local

# TypeScript
*.tsbuildinfo

# Android / iOS
android/
ios/
.gradle/
build/
